---
title: Heal with us
---
<div class="section">
  <div class="section-header">
    <h1>Earth Medicines</h1>
    <p>We want you to be in your best health with your best self</p>
  </div>


  <div class="card-product row">
    <div class="col-md-4 col-xs-12">
      <%= image_tag('your-super-products.jpg') %>
    </div>
    <div class="col-md-8 col-xs-12 d-flex align-items-center">
      <div class="card-product-infos">
        <h2><%= data.partners.your_super.name %></h2>
        <p class="discount-code">Use code CAM-ELI15 to receive 15% off</p>
        <p><%= data.partners.your_super.description %></p>
        <%= link_to "Shop Now", "https://yoursuper.krym8q.net/5eVZL", target: "_blank", class: "btn-flat" %>
      </div>
    </div>
  </div>

  <div class="card-product row">
    <div class="col-md-4 col-xs-12">
      <%= image_tag('fractal-nature-shot.jpg') %>
    </div>
    <div class="col-md-8 col-xs-12 d-flex align-items-center">
      <div class="card-product-infos">
        <h2><%= data.partners.fractal_forest.name %></h2>
        <p><%= data.partners.fractal_forest.description %></p>
        <%= link_to "Shop Now", "https://fractalforestkauai.com/collections/all?ref=QZ_W69TVD", target: "_blank", class: "btn-flat" %>
      </div>
    </div>
  </div>

  <div class="card-product row">
    <div class="col-md-4 col-xs-12">
      <%= image_tag('now-alchemy.jpg') %>
    </div>
    <div class="col-md-8 col-xs-12 d-flex align-items-center">
      <div class="card-product-infos">
        <h2><%= data.partners.now_alchemy.name %></h2>
        <p class="discount-code">Use code GROOVEWITHGAIA to receive 10% off</p>
        <p><%= data.partners.now_alchemy.description %></p>
        <%= link_to "Shop Now", "https://nowalchemy.com/?ref=1nBidRDYvzpYh", target: "_blank", class: "btn-flat" %>
      </div>
    </div>
  </div>

  <div class="card-product row">
    <div class="col-md-4 col-xs-12">
      <%= image_tag('https://cdn.shopify.com/s/files/1/0346/2705/9850/products/OrganicHaritakiPowderAnandaAyurveda_720x.png?v=1588356272') %>
    </div>
    <div class="col-md-8 col-xs-12 d-flex align-items-center">
      <div class="card-product-infos">
        <h2><%= data.partners.ananda_ayurveda.name %></h2>
        <p class="discount-code">Use code GROOVEWITHGAIA to receive 10% off</p>
        <p><%= data.partners.ananda_ayurveda.description %></p>
        <%= link_to "Shop Now", "https://anandaayurveda.org/?ref=1nBidRDYvzpYh", target: "_blank", class: "btn-flat" %>
      </div>
    </div>
  </div>


</div>

<div class="section">
  <div class="section-header">
    <h1>Protect Our Planet</h1>
    <p>Doing our part to give earth back it's healing powers</p>
  </div>

  <div class="card-product row">
    <div class="col-md-4 col-xs-12">
      <%= image_tag('otp_rp.jpg') %>
    </div>
    <div class="col-md-8 col-xs-12 d-flex align-items-center">
      <div class="card-product-infos">
        <h2><%= data.partners.one_tree.name %></h2>
        <p><%= data.partners.one_tree.description %></p>
        <%= link_to "Plant Trees", "https://forest-fundraiser.raisely.com/t/groovewithgaia", target: "_blank", class: "btn-flat" %>
      </div>
    </div>
  </div>
</div>




