<div class="section">
  <div class="section-header">
    <h1>Earth Medicines</h1>
    <p>We want you to be in your best health with your best self</p>
  </div>


  <div class="card-product row">
    <div class="col-md-4 col-xs-12">
      <%= image_tag('your-super-products.jpg') %>
    </div>
    <div class="col-md-8 col-xs-12 d-flex align-items-center">
      <div class="card-product-infos">
        <h2><%= data.partners.your_super.name %></h2>
        <p><%= data.partners.your_super.description %></p>
        <%= link_to "Shop Now", "https://yoursuper.krym8q.net/5eVZL", target: "_blank", class: "btn-flat" %>
      </div>
    </div>
  </div>

  <div class="card-product row">
    <div class="col-md-4 col-xs-12">
      <%= image_tag('fractal-nature-shot.jpg') %>
    </div>
    <div class="col-md-8 col-xs-12 d-flex align-items-center">
      <div class="card-product-infos">
        <h2><%= data.partners.fractal_forest.name %></h2>
        <p><%= data.partners.fractal_forest.description %></p>
        <%= link_to "Shop Now", "https://fractalforestkauai.com/collections/all?ref=QZ_W69TVD", target: "_blank", class: "btn-flat" %>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="section-headerq">
    <h1>Protect Our Planet</h1>
    <p>We want you to be in your best health with your best self</p>
  </div>

  <div class="card-product row">
    <div class="col-md-4 col-xs-12">
      <%= image_tag('fractal-nature-shot.jpg') %>
    </div>
    <div class="col-md-8 col-xs-12 d-flex align-items-center">
      <div class="card-product-infos">
        <h2><%= data.partners.one_tree.name %></h2>
        <p><%= data.partners.one_tree.description %></p>
        <%= link_to "Shop Now", "https://fractalforestkauai.com/collections/all?ref=QZ_W69TVD", target: "_blank", class: "btn-flat" %>
      </div>
    </div>
  </div>
</div>


