---
title: Heal with us
---

<div class="section">
  <div class="section-header">
    <h1>Featured</h1>
  </div>
  <div class="card-product row">
    <div class="col-md-4 col-xs-12">
      <%= image_tag('https://scontent.fhnl1-1.fna.fbcdn.net/v/t1.0-9/131030587_212578843790989_5553276242124794802_o.jpg?_nc_cat=101&ccb=2&_nc_sid=2c4854&_nc_ohc=Po0j8eGtvasAX8qx3L8&_nc_ht=scontent.fhnl1-1.fna&oh=824989338cb272bd045049b1cca1171b&oe=603746B0') %>
    </div>
    <div class="col-md-8 col-xs-12 d-flex align-items-center">
      <div class="card-product-infos">
        <h2>The Breathing Festival</h2>
        <p class="discount-code">Join us at The Breathing Festival from February 11-28, 2021</p>
        <p>Learn from over 50 of the best experts in breathwork on the planet. Take part in empowering discussions, life-awakening breathing experiences, tools for everyday living, conscious music, cutting-edge breathing technology and more. Tickets start at only $11 for a full 12 days of access to lectures, experiential sessions, tools, tips and “hacks” you can use to Change your Breath. Change your World!</p>
        <%= link_to "Get more info", "https://theicfb.com/795/festival", target: "_blank", class: "btn-flat" %>
      </div>
    </div>
  </div>
</div>


<div class="section">
  <div class="section-header">
    <h1>Earth Medicines</h1>
    <p>We want you to be in your best health with your best self</p>
  </div>


  <div class="card-product row">
    <div class="col-md-4 col-xs-12">
      <%= image_tag('your-super-products.jpg') %>
    </div>
    <div class="col-md-8 col-xs-12 d-flex align-items-center">
      <div class="card-product-infos">
        <h2><%= data.partners.your_super.name %></h2>
        <p class="discount-code">Use code CAM-ELI15 to receive 15% off</p>
        <p><%= data.partners.your_super.description %></p>
        <%= link_to "Shop Now", "https://yoursuper.krym8q.net/5eVZL", target: "_blank", class: "btn-flat" %>
      </div>
    </div>
  </div>

  <div class="card-product row">
    <div class="col-md-4 col-xs-12">
      <%= image_tag('fractal-nature-shot.jpg') %>
    </div>
    <div class="col-md-8 col-xs-12 d-flex align-items-center">
      <div class="card-product-infos">
        <h2><%= data.partners.fractal_forest.name %></h2>
        <p><%= data.partners.fractal_forest.description %></p>
        <%= link_to "Shop Now", "https://fractalforestkauai.com/collections/all?ref=QZ_W69TVD", target: "_blank", class: "btn-flat" %>
      </div>
    </div>
  </div>

  <div class="card-product row">
    <div class="col-md-4 col-xs-12">
      <%= image_tag('now-alchemy.jpg') %>
    </div>
    <div class="col-md-8 col-xs-12 d-flex align-items-center">
      <div class="card-product-infos">
        <h2><%= data.partners.now_alchemy.name %></h2>
        <p class="discount-code">Use code GROOVEWITHGAIA to receive 10% off</p>
        <p><%= data.partners.now_alchemy.description %></p>
        <%= link_to "Shop Now", "https://nowalchemy.com/?ref=1nBidRDYvzpYh", target: "_blank", class: "btn-flat" %>
      </div>
    </div>
  </div>

  <div class="card-product row">
    <div class="col-md-4 col-xs-12">
      <%= image_tag('https://cdn.shopify.com/s/files/1/0346/2705/9850/products/OrganicHaritakiPowderAnandaAyurveda_720x.png?v=1588356272') %>
    </div>
    <div class="col-md-8 col-xs-12 d-flex align-items-center">
      <div class="card-product-infos">
        <h2><%= data.partners.ananda_ayurveda.name %></h2>
        <p class="discount-code">Use code GROOVEWITHGAIA to receive 10% off</p>
        <p><%= data.partners.ananda_ayurveda.description %></p>
        <%= link_to "Shop Now", "https://anandaayurveda.org/?ref=1nBidRDYvzpYh", target: "_blank", class: "btn-flat" %>
      </div>
    </div>
  </div>


</div>

<div class="section">
  <div class="section-header">
    <h1>Protect Our Planet</h1>
    <p>Doing our part to give earth back it's healing powers</p>
  </div>

  <div class="card-product row">
    <div class="col-md-4 col-xs-12">
      <%= image_tag('otp_rp.jpg') %>
    </div>
    <div class="col-md-8 col-xs-12 d-flex align-items-center">
      <div class="card-product-infos">
        <h2><%= data.partners.one_tree.name %></h2>
        <p><%= data.partners.one_tree.description %></p>
        <%= link_to "Plant Trees", "https://forest-fundraiser.raisely.com/t/groovewithgaia", target: "_blank", class: "btn-flat" %>
      </div>
    </div>
  </div>
</div>




